.all-bus-locations-container {
  display: flex;
  .map-contianer {
    flex-grow: 1;
  }

  
  .action-menu {
    flex-basis: 30%;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    z-index: 1000;
    max-height: 100vh;
    scroll-behavior: smooth;

    overflow-y: scroll;
    .overview-container {
      display: flex;
      font-size: 1.05em;
      font-weight: bold;

      table {
        border-collapse: collapse;
        width: 100%;
        font-size: 0.85em;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        margin: 10px 8px;
      }

      table:hover {
      }
      table td,
      table th {
        // border: 1px solid #ddd;
        padding: 4px;
      }
      table {
        tr:first-of-type {
          background-color: #2684ff;
          color: white;
        }
      }

      table tr:nth-child(even) {
        background-color: #e7e7e7;
      }

      table tr:hover {
        background-color: #232323;
        color: white;
      }

      table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: seagreen;
        color: white;
      }
    }
    .bus-select-input {
      margin: 5px 5px;
    }
    .bus-detail-container {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      display: flex;
      flex-direction: column;
      font-family: 'Yekan';

      .react-ripples {
        cursor: pointer;
        min-height: 170px;
        width: 100%;
        padding: 0;
        margin: 0;
        .pin-btn {
          position: absolute;
          display: flex;
          width: 30px;
          height: 31px;
          font-size: 22px;
          color: #232323;
          top: 10px;
          align-items: center;
          justify-content: center;
          left: 8px;
          background-color: white;
          font-size: 2.15em;
          &.active {
            background-color: greenyellow;
          }
        }
        table {
          border-collapse: collapse;
          width: 100%;
          font-size: 0.85em;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
            0 3px 6px rgba(0, 0, 0, 0.23);
          margin: 10px 8px;
        }

        table:hover {
        }
        table td,
        table th {
          // border: 1px solid #ddd;
          // padding: 8px;
        }

        table {
          &.selected tr:first-of-type {
            background-color: #2684ff ;
            color: white;
            -webkit-animation: argh-my-eyes 1s 5;
            -moz-animation:    argh-my-eyes 1s 5;
            animation:         argh-my-eyes 1s 5;
        
          }
          tr:first-of-type {
            background-color: #333333;
            color: white;
          }
        }
        table tr:nth-child(even) {
          background-color: #e7e7e7;
        }

        table tr:hover {
          background-color: #232323;
          color: white;
        }

        table th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: seagreen;
          color: white;
        }
        .card {
          width: 100%;
          border-radius: 6px;
          margin: 8px;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
            0 3px 6px rgba(0, 0, 0, 0.23);

          .row {
            display: flex;
            flex-direction: column;
            .col {
              display: flex;
              flex-grow: 1;
              justify-content: center;
              font-size: 0.95em;
              justify-content: right;
              flex-basis: 60%;
              padding-right: 4px;
              color: black;
              &.value {
                flex-basis: 40%;
                color: steelblue;
                font-weight: bold;
                justify-content: right;
                font-size: 1.05em;
              }
            }
          }
        }
      }
    }
  }
}

@-webkit-keyframes argh-my-eyes {
  0% {
    background-color: #2684ff;
  }
  100% {
    background-color: #232323;
  }
}
@-moz-keyframes argh-my-eyes {
  0% {
    background-color: #2684ff;
  }
  100% {
    background-color: #232323;
  }
}
@keyframes argh-my-eyes {
  0% {
    background-color: #2684ff;
  }
  100% {
    background-color: #232323;
  }
}
