.multi-bus-simulation-container {
  display: flex;
  height: 100vh;
  overflow-x: hidden;

  .leaflet-container {
    width: 100%;
    height: 100%;
  }

  .map-contianer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .media-controler-container {
      display: flex;
      height: 230px;
      background-color: #2e2e2e;
      width: 100%;
      font-size: 2.45em;
      color: white;
      border-radius: 0 6px 0 0;
      // padding: 10px 0;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
        0 15px 12px rgba(0, 0, 0, 0.22);
      flex-direction: column;
      .palyback-slice-container {
        display: inline-grid;
        font-size: 14px;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;

        direction: ltr;
        min-height: 28px;
        .time-slices-container {
          display: flex;
          overflow-x: scroll;
          &::-webkit-scrollbar-thumb {
            // border-radius: 4px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #555;
          }
          &::-webkit-scrollbar
          {
            width: 12px;
            height: 6px;
            background-color: #F5F5F5;
          }
        }
        .time-slice {
          background-color: #343434;
          // flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          min-width: 70px;
          flex-grow: 1;
          &.active {
            background-image: -webkit-linear-gradient(
                -45deg,
                transparent 33%,
                rgba(0, 0, 0, 0.1) 33%,
                rgba(0, 0, 0, 0.1) 66%,
                transparent 66%
              ),
              -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
              -webkit-linear-gradient(left, #09c, rgb(68, 255, 99));
          }
        }
      }
      .playback-bar-container {
        // flex-basis: 45%;
        // background-color: red;
        // cursor: pointer;
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        // padding: 10px;
        direction: ltr;

        .playback-bar {
          margin: 0;
          padding: 0;
          height: 30px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          .pin {
            height: 30px;
            // width: 1.5px;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
            .tooltip {
              display: none;
              position: absolute;
              color: rgb(0, 0, 0);
              text-align: center;
              width: 150px;
              top: 38px;
              right: -70px;
              // left: 0px;
              border-radius: 4px;
              background-color: #ffffff;
              font-size: 16px;
              z-index: 5;
              font-weight: bold;
              box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
                0 6px 6px rgba(0, 0, 0, 0.23);
            }
            .tooltip:before {
              content: "";
              position: absolute;
              border-style: solid;
              border-width: 8px 10px;
              border-color: transparent transparent white transparent;
              left: 70px;
              /* TOP IS DOUBLE THE HEIGHT OF THE BORDER */
              top: -14px;
            }
            &:hover {
              .tooltip {
                display: block;
              }
            }
            &.blue {
              background-color: rgba(0, 0, 255, 0.5);
            }
            &.red {
              background-color: rgba(255, 0, 0, 0.5);
            }
            &.green {
              background-color: rgba(0, 255, 0, 0.5);
            }
          }

          .pin:last-of-type {
            right: 0;
            left: unset !important;
          }

          progress[value] {
            /* Reset the default appearance */
            -webkit-appearance: none;
            appearance: none;

            width: 100%;
            height: 30px;
          }

          progress[value]::-webkit-progress-bar {
            background-color: #eee;
            border-radius: 2px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
          }

          progress[value]::-webkit-progress-value {
            background-image: -webkit-linear-gradient(
                -45deg,
                transparent 33%,
                rgba(0, 0, 0, 0.1) 33%,
                rgba(0, 0, 0, 0.1) 66%,
                transparent 66%
              ),
              -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
              -webkit-linear-gradient(left, #09c, rgb(68, 255, 99));

            border-radius: 2px;
            background-size: 70px 40px, 100% 100%, 100% 100%;
          }

          progress::-webkit-progress-value {
            -webkit-animation: animate-stripes 5s linear infinite;
            animation: animate-stripes 5s linear infinite;
          }

          @-webkit-keyframes animate-stripes {
            100% {
              background-position: -100px 0px;
            }
          }

          @keyframes animate-stripes {
            100% {
              background-position: -100px 0px;
            }
          }
        }
      }

      .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        // flex-basis: 55%;
        padding: 15px 0;
        position: relative;

        .media-buttons {
          display: flex;
          -webkit-user-select: none;
          /* Safari */
          -moz-user-select: none;
          /* Firefox */
          -ms-user-select: none;
          /* IE10+/Edge */
          user-select: none;

          /* Standard */
          .react-ripples {
            margin: 0 10px;
            background-color: seagreen;
            padding: 10px;
            border-radius: 4px;
            cursor: pointer;
          }

          .speed-control {
            background-color: #545454;
            font-family: Helvetica, sans-serif;
            div {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 1em;
              width: 1em;
            }
          }

          .stop-btn {
            background-color: crimson;
          }

          .skip-zero-points-marker {
            background-color: crimson;

            &.active {
              background-color: seagreen;
            }
          }

          .fit-marker {
            background-color: crimson;

            &.active {
              background-color: seagreen;
            }
          }
        }

        .time-container {
          font-size: 0.8em;
          width: 100px;
          text-align: center;
        }

        .marker-interval {
          direction: ltr;
          // flex-grow: 1;
          // min-width: 290px;
          padding-left: 20px;
          text-align: center;
          font-size: 0.65em;
          position: absolute;
          left: 0;
        }
      }

      // padding: 0 20px;
    }
  }

  .action-menu {
    flex-basis: 30%;
    background-color: #4b4b4b;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    z-index: 1000;
    max-height: 100vh;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 425px;
    .overview-container {
      display: flex;
      font-size: 1.05em;
      font-weight: bold;

      .active-buses {
        background-color: rgb(255, 255, 255);
        color: #2ecc71;
      }

      .deactive-buses {
        background-color: crimson;
      }

      .unbusy-buses {
        background-color: rgb(255, 255, 255);
        color: crimson;
      }

      .btn {
        position: relative;
        display: block;
        margin: 10px;
        padding: 0;
        overflow: hidden;
        border-width: 0;
        outline: none;
        border-radius: 2px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
        background-color: #2ecc71;
        color: #ffffff;
        transition: background-color 0.3s;
      }

      table {
        background-color: white;
        border-collapse: collapse;
        width: 100%;
        font-size: 0.85em;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        margin: 10px 8px;
        cursor: pointer;
      }

      table:hover {
      }

      table td,
      table th {
        // border: 1px solid #ddd;
        padding: 4px;
      }

      table {
        tr:first-of-type {
          background-color: #2684ff;
          color: white;
        }
      }

      // table tr:hover {
      //   background-color: #232323;
      //   color: white;
      // }

      table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: seagreen;
        color: white;
      }
    }

    .bus-select-input {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .action-menu-header {
      display: flex;
      flex-direction: column;
      margin: 5px 5px;
      // background-color: rgb(71, 71, 71);
      border-radius: 4px;
      padding: 5px 5px;
    }
    .buses-list {
      display: flex;
      background-color: white;
      color: #000000;
      margin: 5px 5px;
      /* padding: 3px; */
      /* margin: 0px 8px; */
      justify-content: space-around;
      font-size: 1.15em;
      font-weight: bold;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    .submit-btn {
      background-color: #345aca;
      color: white;
      font-family: "yekan";
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.9em;
      min-height: 47px;
      border: 0;
      border-radius: 4px;
      cursor: pointer;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .dates-container {
      justify-content: space-between;

      // margin: 1em .5em;
      .date-input-container {
        display: flex;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        border-radius: 4px;
        padding: 4px;
        box-sizing: border-box;
        font-family: "yekan";
        margin: 1em 0;
        // justify-content: space-between;
        height: 48px;
        align-items: center;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        width: 100%;
        .nYegl {
          width: 100%;
          margin-left: 6px;
        }
        label {
          min-width: 70px;
        }

        input {
          // direction: rtl;
          background-color: #2e2e2e;
          color: rgb(255, 255, 255);
          font-family: "yekan";
          text-align: center;
          font-size: 0.95em;
          min-height: 34px;
          border: 0;
          border-radius: 4px;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
            0 3px 6px rgba(0, 0, 0, 0.23);
          width: 100%;
        }
      }
    }

    .bus-detail-container {
      // padding-top: 0.5em;
      // padding-bottom: 0.5em;
      display: flex;

      font-family: "Yekan";
      overflow-y: scroll;
      &::-webkit-scrollbar-thumb {
        // border-radius: 4px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #555;
      }
      &::-webkit-scrollbar
      {
        width: 8px;
        // height: 6px;
        background-color: #F5F5F5;
      }
      &.single {
        .col {
          display: flex;
          flex-direction: column;
          width: 100%;

          .bus-detail {
            cursor: pointer;
            min-height: 45px;
            padding: 0;
            margin: 0;
            display: flex;

            table {
              border-collapse: collapse;
              width: 100%;
              font-size: 0.85em;
              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
                0 3px 6px rgba(0, 0, 0, 0.23);
              margin: 0px 8px;
              position: relative;
            }

            .bus-code {
              position: absolute;
              height: 35px;
              width: 185px;

              color: white;
              font-size: 1.15em;
              display: flex;
              justify-content: center;
              border-radius: 2px;
              // padding-right: 12px;
              align-items: center;
              right: -2px;
              box-shadow: 0 0px 12px rgba(191, 118, 118, 0.16),
                0 1px 6px rgba(0, 0, 0, 0.23);
              top: -31px;
            }

            table:hover {
            }

            table td,
            table th {
              // border: 1px solid #ddd;
              // padding: 8px;
            }

            table tr .index {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 100%;
              font-size: 1em;
              font-weight: bold;
              // width: 30%;
              color: white;
              // background-color: #345aca;
            }
            &.blue {
              table tr .index {
                background-color: #345aca;
              }
            }
            &.red {
              table tr .index {
                background-color: crimson;
              }
            }
            &.green {
              table tr .index {
                background-color: seagreen;
              }
            }
            table tr .speed {
              width: 40%;
              padding-right: 20px;
            }

            table tr .date {
              width: 50%;
            }

            table {
              tr {
                background-color: #ffffff;
                color: black;
              }
            }

            table .value {
              color: seagreen;
              font-size: 1.2em;
              font-weight: bold;
            }

            table th {
              padding-top: 12px;
              padding-bottom: 12px;
              text-align: left;
              background-color: #345aca;
              color: white;
            }

            .card {
              width: 100%;
              border-radius: 6px;
              margin: 8px;
              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
                0 3px 6px rgba(0, 0, 0, 0.23);

              .row {
                display: flex;
                flex-direction: column;

                .col {
                  display: flex;
                  flex-grow: 1;
                  justify-content: center;
                  font-size: 0.95em;
                  justify-content: right;
                  flex-basis: 60%;
                  padding-right: 4px;
                  color: black;

                  &.value {
                    flex-basis: 40%;
                    color: steelblue;
                    font-weight: bold;
                    justify-content: right;
                    font-size: 1.05em;
                  }
                }
              }
            }

            &.active {
              &.blue {
                table tbody tr {
                  background-color: #345aca;
                  color: white;
                  .value {
                    color: white;
                  }
                  .index {
                    background-color: #345aca;
                    color: white;
                  }
                }
              }
              &.red {
                table tbody tr {
                  background-color: crimson;
                  color: white;
                  .value {
                    color: white;
                  }
                  .index {
                    background-color: crimson;
                    color: white;
                  }
                }
              }
              &.green {
                table tbody tr {
                  background-color: seagreen;
                  color: white;
                  .value {
                    color: white;
                  }
                  .index {
                    background-color: seagreen;
                    color: white;
                  }
                }
              }
            }
          }
        }
      }

      // height: 70%;
    }
    .rc-time-picker-clear {
      display: none;
    }
  }

  .checkbox-lable {
    position: relative;
    padding: 4px;

    input {
      margin: 0;
      height: 16px;
      width: 16px;
      // margin-top: 18px;
    }
  }

  .loader {
    margin-right: 5px;
    margin-bottom: 0px;
    line-height: 40px;

    @keyframes blink {
      /**
             * At the start of the animation the dot
             * has an opacity of .2
             */
      0% {
        opacity: 0.2;
      }

      /**
             * At 20% the dot is fully visible and
             * then fades out slowly
             */
      20% {
        opacity: 1;
      }

      /**
             * Until it reaches an opacity of .2 and
             * the animation can start again
             */
      100% {
        opacity: 0.2;
      }
    }

    span {
      /**
             * Use the blink animation, which is defined above
             */
      animation-name: blink;
      /**
             * The animation should take 1.4 seconds
             */
      animation-duration: 1.4s;
      /**
             * It will repeat itself forever
             */
      animation-iteration-count: infinite;
      /**
             * This makes sure that the starting style (opacity: .2)
             * of the animation is applied before the animation starts.
             * Otherwise we would see a short flash or would have
             * to set the default styling of the dots to the same
             * as the animation. Same applies for the ending styles.
             */
      animation-fill-mode: both;
      font-size: 2em;
    }

    span:nth-child(2) {
      /**
             * Starts the animation of the third dot
             * with a delay of .2s, otherwise all dots
             * would animate at the same time
             */
      animation-delay: 0.2s;
    }

    span:nth-child(3) {
      /**
             * Starts the animation of the third dot
             * with a delay of .4s, otherwise all dots
             * would animate at the same time
             */
      animation-delay: 0.4s;
    }
  }
}

@-webkit-keyframes argh-my-eyes-blue {
  0% {
    background-color: #6048e9;
  }

  100% {
    background-color: #202020;
  }
}

@-moz-keyframes argh-my-eyes-blue {
  0% {
    background-color: #6048e9;
  }

  100% {
    background-color: #202020;
  }
}

@keyframes argh-my-eyes-blue {
  0% {
    background-color: #6048e9;
  }

  100% {
    background-color: #202020;
  }
}

@-webkit-keyframes argh-my-eyes-red {
  0% {
    background-color: rgb(194, 22, 22);
  }

  100% {
    background-color: #202020;
  }
}

@-moz-keyframes argh-my-eyes-red {
  0% {
    background-color: rgb(194, 22, 22);
  }

  100% {
    background-color: #202020;
  }
}

@keyframes argh-my-eyes-red {
  0% {
    background-color: rgb(194, 22, 22);
  }

  100% {
    background-color: #202020;
  }
}
